.tennis-score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.data-table {
  background-color: white;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 20%;
  margin-right: 20%;
}

.labels,
.player1,
.player2 {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 0px;
  border-bottom: 1px solid white;
}

.player2 {
  border-bottom: none;
}

.previous-sets,
.player-previous-sets {
  grid-column: 1/6;
  border-right: 0px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.player-previous-sets div {
  /*why div*/
  margin-right: 0px;
}

.name,
.player-name {
  grid-column: 7/12;
  white-space: nowrap;
  border-right: 0px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.sets,
.player-sets {
  grid-column: 13/13;
  border-right: 0px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.games,
.player-games {
  grid-column: 14/14;
  border-right: 0px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.points,
.player-points {
  grid-column: 15/16;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.tennis-court-image {
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.serve-circles {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #dfff4f;
  border: 1px solid black;
  border-radius: 50%;
}
